/Fly.class
/Hero.class
/Larmes.class
/Monsters.class
/Spider.class
/Consumable_Objects.class
/ListConsumables.class
/ListPassivesObjects.class
/PassivesObjects.class
/ListObjects.class
/Objects.class
/Entity.class
/ListEntity.class
